# Docker
# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- main

resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'

stages:
- stage: Build
  displayName: Build image
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      displayName: Build an image
      inputs:
        containerRegistry: 'MyDocker Hub'
        repository: 'arunavarni/az104'
        command: 'buildAndPush'
        Dockerfile: '**/Dockerfile'
        tags: ''
- stage: Deploy
  jobs:
    - deployment: Dev
      environment: Dev
      strategy:
       runOnce:
         deploy:
           steps:
            - task: AzureRmWebAppDeployment@5
              inputs:
                ConnectionType: 'AzureRM'
                azureSubscription: 'MyAzureDemo'
                appType: 'webAppContainer'
                WebAppName: 'varuwebapp-demo'
                DockerNamespace: 'arunavarni'
                DockerRepository: 'az104'
                DockerImageTag: '$(tag)' 
         

              
